body {
    font-family: Arial, sans-serif;
    background-color: #0c9cf0;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .status {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .tarefas button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #cd9c0c;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tarefas button:hover {
    background-color: #b37906;
  }
  
  .log {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    height: 120px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .cartas{
    width: 50%;
    border: 0px;
  }
  